/* Header Section */

* {
    font-family: sans-serif;
}

#header {
    text-align: center;
}

#header h1 {
    font-family: fantasy;
    margin-bottom: 0;
}

#header p {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: 300;
}

.gameSection {
    background: #FAFAFA;
    display: block;
    margin: 0 auto;
    width: 640px;
    border: 1px solid black;
}


/* Info Box */

#infoBox {
    background: #79B1E8;
    border-bottom: none;
    height: 40px;
    position: relative;
}

.info__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 0.95rem;
}

.info__spacer {
    width: 100px;
    display: inline-block;
}


/* Game Box */

#gameBox {
    height: 360px;
}

#gameBox > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.customer__wrapper {
    height: 320px;
}

.timer__wrapper {
    height: 40px;
}

#typingBox {
    height: 60px;
    border-top: 0px;
    background: rgb(235, 245, 255);
    position: relative;
}


/* Input Box */

#gameInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    padding: 4pt;
    width: 80%;
    text-align: center;
}

#gameInput:focus {
    outline: none;
}


/* Other */

.hidden {
    display: none;
}