$main-section-width: 640px;
$game-section-height: 360px;
$timer-height: 30px;

$person-space-width: 120px;

$basic-border: 1px solid black;

* {
    font-family: sans-serif;
}

.header {
    text-align: center;

    &__title {
        font-family: fantasy;
        margin-bottom: 0;
    }

    &__desc {
        margin-top: 0;
        font-size: 0.8rem;
        font-weight: 300;
    }
}

.mainSection {
    background: #FAFAFA;
    display: block;
    margin: 0 auto;
    width: $main-section-width;
    border: $basic-border;
}

.stats {
    background: #79B1E8;
    border-bottom: none;
    height: 40px;
    position: relative;

    &__wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 0.95rem;
    }

    &__spacer {
        width: 100px;
        display: inline-block;
    }
}

.game {
    height: $game-section-height;

    &__paused {
        width: 100%;
        height: 100%;
    }
    
    &__playing {
        width: 100%;
        height: 100%;

        &__customer {

            &__wrapper {
                height: $game-section-height - $timer-height;
            }

            &__row {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                height: 35%;
            }

            &__person {
                background-color: wheat;
                border: $basic-border;
                width: $person-space-width;
                height: 80%;
                align-self: flex-end;
            }

            &__table {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                height: 15%;
                background-color: #8BC34A;
            }

            &__order {
                background-color: white;
                border: $basic-border;
                width: $person-space-width;
                height: 80%;
                align-self: center;
            }
        }

        &__timer {

            &__wrapper {
                height: $timer-height;
                position: relative;
            }

            &__border {
                width: 98%;
                height: 60%;
                border: $basic-border;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &__colour {
                width: 100%;   // -5% every 3 seconds
                height: 100%;
                background-color: lightpink;
            }
        }
    }
}

.typebox {
    height: 60px;
    border-top: 0px;
    background: rgb(235, 245, 255);
    position: relative;

    &__input {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20pt;
        padding: 4pt;
        width: 80%;
        text-align: center;

        &:focus {
            outline: none;
        }
    }
}

.hidden {
    display: none;
}