$main-section-width: 640px;
$game-section-height: 360px;
$timer-height: 30px;
$page-padding: 1.5rem;

$person-space-width: 120px;

$border-radius-default: 20px;
$button-border-radius: 15px;
$basic-border: 1px solid black;

* {
    font-family: sans-serif;
}

.header {
    text-align: center;

    &__title {
        font-family: fantasy;
        margin-bottom: 0;
    }

    &__desc {
        margin-top: 0;
        font-size: 0.8rem;
        font-weight: 300;
    }
}

.mainSection {
    background: #FAFAFA;
    display: block;
    margin: 0 auto;
    width: $main-section-width;
    border: $basic-border;
}

.stats {
    background: #79B1E8;
    border-bottom: none;
    height: 40px;
    position: relative;

    &__wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-weight: 600;
        font-size: 0.95rem;
        display: flex;
        justify-content: space-between;

        & > div {
            align-self: center;
        }
    }

    &__level {
        display: inline-block;
        border: $basic-border;
        border-radius: $border-radius-default;
        margin: 0 8px;
        padding: 4px 12px;
        background-color: #CDE3F7;
    }

    &__spacer {
        width: 100px;
        display: inline-block;
    }

    &__button-bar {
        position: relative;
    }

    &__life-bar {
        position: absolute;
        left: -80px;
        top: 1px;

        &__life {
            display: inline-block;
            color: #E02E6A;
            font-size: 1.2rem;
            transform: scaleX(1.2);
            margin: 0 2px;

            &.lost-life {
                color: #889ED5;
            }
        }
    }

    &__button {
        width: 112px;
        background-color: mediumpurple;
        border: $basic-border;
        border-radius: $button-border-radius;
        padding: 4px;
        margin-right: 8px;
        font-size: 0.8rem;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: #915AC1;
            box-shadow: inset 0px 0px 5px 0px #652FC3;
        }

        &.btn-disabled {
            background-color: #937DA2;

            &:hover {
                box-shadow: none;
            }
        }
    }
}

.game {
    height: $game-section-height;

    &__instructions {
        padding: $page-padding;
        text-align: center;

        &__title {
            margin: 0;
        }
    }

    &__paused {
        padding: $page-padding;
        text-align: center;

        &__title {
            margin: 0;
        }

        &__menu {
            margin-top: 20px;
            margin-bottom: 12px;

            &__item {
                padding-bottom: 8px;
            }
        }
    }
    
    &__playing {
        position: relative;

        &__modal {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8);
            
            &__box {
                border: $basic-border;
                border-radius: $border-radius-default;
                padding: 24px;
                width: 50%;
                min-height: 96px;
                margin: auto;
                transform: translateY(-5%);
                background-color: white;
                text-align: center;

                & button {
                    margin-top: 16px;
                }
            }

            &__title {
                margin-top: 0;
                margin-bottom: 16px;
            }

            &__hint {
                &__menu {
                    display: flex;
                    justify-content: center;
                }

                &__col {
                    display: inline-block;
                    margin: 0 16px;

                    &__element {
                        margin: 4px 0;
                    }
                }
            }

            &__game-over {
                &__msg {
                    font-style: italic;
                    font-size: 0.95rem;
                    margin-top: -8px;
                }

                &__fscore {
                    margin-bottom: 0;
                }

                &__hscore {
                    margin-top: 4px;
                    margin-bottom: 0;
                    font-size: 0.9rem;
                }
            }
        }

        &__customer {

            &__wrapper {
                height: $game-section-height - $timer-height;
            }

            &__row {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                height: 35%;
            }

            &__person {
                width: $person-space-width;
                height: 80%;
                align-self: flex-end;

                &__img {
                    max-width: 100%;
                }
            }

            &__table {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                height: 15%;
                background-color: #A9825A;
            }

            &__order {
                background-color: white;
                position: relative;
                border: $basic-border;
                width: $person-space-width;
                height: 80%;
                align-self: center;

                &__item {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 0.8rem;
                    text-align: center;
                }
            }
        }

        &__timer {

            &__wrapper {
                height: $timer-height;
                position: relative;
            }

            &__border {
                width: 98%;
                height: 60%;
                border: $basic-border;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &__colour {
                width: 100%;   // -5% every 3 seconds
                height: 100%;
                background-color: lightpink;
            }
        }
    }
}

.typebox {
    height: 60px;
    border-top: 0px;
    background: rgb(235, 245, 255);
    position: relative;

    &__input {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20pt;
        padding: 4pt;
        width: 80%;
        text-align: center;

        &:focus {
            outline: none;
        }
    }
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.default-button {
    width: 120px;
    height: 32px;
    font-size: 1rem;
    border-radius: $border-radius-default;
    margin: 4px;

    &:focus {
        outline: none;
    }
}
